
@page "/Productos"
@page "/Productos/{ProductoId:int}"

@inject IToastService toast

<EditForm Model="Productos" OnInvalidSubmit="Guardar">
    <DataAnnotationsValidator />
    <div class="card">
        <div class="card-header">
            <h3>Registrar Producto</h3>
        </div>

        <div class="card-body">
            <form>
                <div class="form-row align-items-center">
                    <div class="col">
                        <div class="form-group">
                            <label>Producto Id</label>
                            <div class="input-group">
                                <InputNumber @bind-Value="Productos.ProductoId" class="form-control" />
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-primary input-group-text" @onclick="Buscar"> Buscar </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                @*Descripcion*@
                <div class="form-group">
                    <label>Descripcion</label>
                    <InputText @bind-Value="Productos.Descripccion" class="form-control" />
                    <ValidationMessage For="@(() => Productos.Descripccion)" />
                </div>

                @*Existencia*@
                <div class="form-group">
                    <label>Existencia</label>
                    <InputNumber @bind-Value="Productos.Existencia" class="form-control" />
                    <ValidationMessage For="@(() => Productos.Existencia)" />
                </div>

                @*Costo*@
                <div class="form-group">
                    <label>Costo</label>
                    <InputNumber @bind-Value="Productos.Costo" class="form-control" />
                    <ValidationMessage For="@(() => Productos.Costo)" />
                </div>

                @*Valor Inventario*@
                <div class="form-group">
                    <label>Valor de Inventario</label>
                    <InputNumber @bind-Value="Productos.Valor_Inventario" class="form-control" readonly />
                    <ValidationMessage For="@(() => Productos.Valor_Inventario)" />
                </div>
            </form>
        </div>

        <div class="card-footer">
            <div class="form-group- text-center" display: inline-block>
                <button type="button" class="btn btn-primary" @onclick="Nuevo">Nuevo</button>
                <button type="button" class="btn btn-success" @onclick="Guardar">Guardar</button>
                <button type="button" class="btn btn-danger" @onclick="Eliminar">Eliminar</button>
            </div>
        </div>

    </div>
</EditForm>



@code {
    [Inject]
    private ProductosBLL ProdusctosBLL { get; set; }

    [Parameter]
    public int ProductoId { get; set; }

    Productos Productos = new Productos();

    protected override void OnInitialized()
    {
        Limpiar();
        Nuevo();
    }

    public async void Buscar()
    {
        var form = await ProdusctosBLL.Buscar(Productos.ProductoId);

        if(form != null)
        {
            this.Productos = form;
        }
        else
        {
            toast.ShowInfo("No se pudo encontrar el registro");
        }
    }

    public void Limpiar()
    {
        this.Productos = new Productos();
    }

    public void Nuevo()
    {
        Limpiar();
    }

    public async void Guardar()
    {
        if( await ProdusctosBLL.Guardar(Productos))
        {
            toast.ShowSuccess("Registro Guardado");
        }
        else
        {
            toast.ShowError("No se pudo guardar el registro");
        }
    }

    public async void Eliminar()
    {
        if (await ProdusctosBLL.Elimiar(Productos.ProductoId))
        {
            toast.ShowSuccess("Se ha Eliminado el registro");
        }
        else
        {
            toast.ShowError("No se pudo Eliminar el registro");
        }
    }

}
